body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(153 153 153);
}
* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
html {
    scroll-behavior: smooth;
}
.port img {
    width: 50px;
}
ul li {
    list-style: none;
}
.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: wrap;
    margin: 0 35px 0 32px;
    padding: 10px 105px 10px 105px;
}
.navBar a {
    color: #fff;
}
.port {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 7px;
    font-size: 20px;
}
.navBar ul li a:hover {
    cursor: pointer;
    background-color: rgb(103, 103, 107);
    border-radius: 3px;
}
.items li i:hover {
    transform: translateY(10px);
    transition: transform 0.5s;
    background-color: rgb(103, 103, 107);
}
.items li {
    font-size: 20px;
    display: inline-block;
    padding: 0 10px 0 10px;
}
.items li i {
    color: #00264d;
}
.home {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 30px 5px 30px;
    margin: 5px 35px 5px 35px;
}
.image1 {
    margin: 0 10px 0 68px;
    padding: 0 10px 0 10px;
}
.image1 img {
    width: 33vw;
    filter: drop-shadow(5px 5px 5px);
}
.name {
    font-size: 38px;
    font-family: fantasy;
    text-shadow: 5px 5px 3px #0f0e0e;
    padding: 5px 10px 0 10px;
    margin: 0 10px 0 10px;
    color: antiquewhite;
}
.hel {
    font-size: 28px;
}
.capitalName {
    font-size: 38px;
}

.specilization {
    font-size: 37px;
}
.about {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 35px 5px 34px;
    padding: 0px 30px 35px 30px;
    background-color: #394552;
}
.image2 {
    flex-basis: 50%;
    margin: 35px 0 0 30px;
    padding: 40px 0 0 50px;
}
.image2 img {
    width: 278px;
    border-radius: 35%;
}
.introduction {
    color:#dddddd;
    flex-basis: 65%;
    font-size: 20px;
    margin: 0px 20px 0 0;
    padding: 37px 50px 0 0;
}
.skillPortfolio {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 56px 35px 56px 35px;
    padding: 0px 35px 0px 35px;
    background-color: #394552;
}
.h3Class {
    margin-bottom: 20px;
}
.paraghraph p {
    font-weight: 100;
    padding: 0;
    color: #e3dede;
}
.slide {
    /* top: 110px; */
    position: absolute;
    top: 0;
    right: 0;
}
.skills {
    color: #dddddd;
    padding: 0 15px 40px;
    flex-basis: 60%;
    margin: 43px 53px;
    font-size: 20px;
}
.skills h3 {
    padding: 0 0 15px;
}
.image3 {
    position: relative;
    margin: 25px 99px 25px 88px;
    padding: 0px 0 271px 0;
    flex-basis: 40%;
}
.image3 img {
    width: 190px;
}
.project {
    margin: 56px 35px ;
    padding: 26px 87px 56px 87px;
    background-color: #394552;
}
.scrollbar {
    border: 1px solid rgb(45, 45, 57);
    border-radius: 10px;
    border-top: 15px solid rgb(241 241 241);
    border-left: 15px solid rgb(241 241 241);
    margin: 0 15px 0 15px;
    overflow: scroll;
    height: 60vh;
}
.project h3{
    margin:1rem 1rem 1.5rem;
    color: white;
    font-size: 24px;
}
.project h1{
    margin:2rem 1rem;
    color: white;
}
table {
    width: 100%;
    border-collapse: collapse;
}
.scrollbar table tr {
    font-size: 22px;
}
table tr th {
    padding: 9px 52px 9px 10px;
    color: white;
    background-color: #858585;
    font-weight: 100;
}
table tr td {
    padding: 12px 8px;
    color: #0f0f0f;
}
.col1{
    background-color: #ffffffba;
}
.col2{
    background-color: #c0c5cb;
}
.heading{
    color: white;
}
.contact {
    margin: 10px 35px 80px 35px;
    padding: 30px 30px 40px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    background-color: #394552;
}
.contactDetails {
    padding: 5px 20px 0 0;
    font-size: 20px;
}
.contactDetails h1 {
    padding: 12px 0 12px;
    color: #dddddd;
}
.email {
    padding: 12px 0 12px;
}
.mobileNo {
    padding: 12px 0 12px;
}
.socialMedia {
    padding: 12px 0 12px;
}
.socialMedia a i {
    padding: 0 6px 0 6px;
}
.socialMedia a i:hover {
    transform: translateY(10px);
    transition: transform 0.5s;
}
.contactDetails a {
    text-decoration: none;
    color: #dddddd;
}
.comment {
    margin: 31px 0 0 35px;
    padding-top: 10px;
}
.takeInput {
    display: block;
    width: 100vh;
    margin: 12px 0 12px;
    padding: 8px 0 8px;
    background-color: #cccccc;
    border-radius: 6px;
    border: 1px solid black;
}
.comment button {
    width: 70px;
    height: 30px;
    background-color: #cccccc;
    border-radius: 4px;
    border: 1px solid black;
    cursor: pointer;
}
.footer {
    width: 100%;
    height: 50px;
    background-color: #cccccc;
    display: flex;
    justify-content: center;
    align-items: center;
}
#humberger {
    display: none;
}
@media only screen and (max-width: 600px) {
    header {
        position: relative;
    }

    #humberger {
        display: block;
    }
    .port {
        margin: 7px 0px 0px 0px;
        padding: 7px 22px 15px 19px;
        position: absolute;
        top: 0;
        left: 0;
    }
    .items {
        display: none;
    }
    .items {
        top: 50px;
        position: absolute;
        right: -29px;
        border-radius: 5px;
        cursor: pointer;
        background-color: #394552;
    }
    .items li {
        display: block;
        margin-top: 22px;
        padding-bottom: 22px;
    }
    .fa-bars {
        display: block;
    }
    .fa-bars {
        position: absolute;
        top: 22px;
        right: 13px;

    }
    .contact{
        display: inline-block;
        padding: 37px;
    }
    .contactDetails {
        font-size: 10px;
        text-align: center;
    }
    .comment {
        margin: 0;
        padding-top: 10px;
        padding-left: 0rem;
    }
    .takeInput {
        display: inline;
        padding: 4px 0 8px;
        width: 100%;
    }
    .container{
        position: relative;
        top: 7rem;
    }
    .home{
        display: inline-block;
        margin: 0;
    }
    .name{
       margin-left: 32px;
       padding: 0;
       text-align: center;
    }
    .intro{
        font-size: 24px
    }
    .hel{
        
        font-size: 20px;
    }
    .specilization{
        font-size: 20px;
    }
    .image1 img{
        width: 65vw;
    }
    .image1 {
        margin: 0 10px 0 40px;
    }
    .image2{
        margin: 0;
    }
    .image2 img{
        width: 30vw;
        display: none;
    }
    .image3{
        margin: 54px 118px 54px 118px;
        padding: 0 3rem 12rem 3rem;
    }
    .image3 img{
        width: 36vw;
        margin: -43px -6px 0px;
    }
    .about{
        display: inline-block;
        padding: 37px;
        display:inline-block ;
    }
    .introduction{
        margin: 0;
        padding: 0;
        font-size: 14px;
    }
    .skillPortfolio {
        display: inline-block;
        padding: 0;
    }
    p{
        padding-left: 4px;
    }
    .skills {
        margin:0; 
        padding: 28px;
        font-size: 14px;
    }
    .skills h3 {
        padding: 5px 0px 15px;
    }
    .project{
        display: inline-block;
        padding: 37px;
        margin: 0 2rem 3rem;
        padding: 2rem;
    }
    .project h3{
        font-size: 16.5px;
        margin:0.5rem 0rem 1.5rem;
    }
    .heading{
        font-size:16.5px;
        color: white;
    }
    /* margin: 0.5rem 1rem 1.3rem 0.4rem;; */
    .scrollbar {
        border-top: 0; 
        border-left: 0; 
        margin: 0;
        padding: 0; 
    }
    .scrollbar table tr {
        font-size: 14px;
    }
    table tr th {
        padding: 2px 4px 0px 0;
    }
    table tr td {
        padding: 4px 10px;
    }
    .contactDetails h1{
        font-size: 24px;
    }
    .font{
        font-size: 14px;
    }
    .socialMedia{
        font-size: 24px;
    }
}
